<?php
namespace User;

use Zend\Router\Http\Literal;
use Zend\Router\Http\Segment;

return [
    'router' => [
        'routes'=>[
            'user'=>[
                'type'=>Literal::class,
                'options'=>[
                    'route'=> '/user',
                    'default'=>[
                        'controller'=> \User\Controller\IndexController::class, 
                        'action'=>'register'
                    ]
                ],
                'my_terminate'=> true,
                'child_routes'=>[
                    'default'=>[
                        'type'=>\Zend\Router\Http\Segment::class,
                        'options'=> [
                            //meusitte.com.br/user/register/token/093343493
                            'route'=>'[/:action][/token/:token]',
                            'constraints' => [
                                /*
                                 * Expressão regular
                                 */
                                'action'=>'[a-zA-Z][a-zA-Z0-9_-]*',
                                'token' => '[[a-f0-9]{32}]$'
                            ]
                        ]
                    ]
                ]
            ]
        ]
    ]
];